
.vs/GAME1017_Template_W01/v16/Browse.VC.db
.vs/GAME1017_Template_W01/v16/Browse.VC.opendb
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/32b13ec848722a29/ENGINE.ipch
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/af540475deee36e5/ENEMY.ipch
.vs/GAME1017_Template_W01/v16/Browse.VC.db
.vs/GAME1017_Template_W01/v16/Browse.VC.db
*.db
.vs/GAME1017_Template_W01/v16/Browse.VC.db
.vs/GAME1017_Template_W01/v16/.suo
.vs/GAME1017_Template_W01/v16/Browse.VC.db
